Source: igc2kmz
Section: utils
Priority: extra
Maintainer: Marc Poulhiès <dkm@kataplop.net>
Build-Depends: cdbs, debhelper (>= 7), python-support
Standards-Version: 3.8.1
Homepage: http://github.com/twpayne/igc2kmz/

Package: python-igc2kmz
Architecture: all
Depends: ${python:Depends}
Description: IGC to Google Earth converter
 IGC to Google Earth converter. Python module.

Package: igc2kmz-cli
Architecture: all
Depends: ${python:Depends}, python-igc2kmz 
Description: IGC to Google Earth converter
 IGC to Google Earth converter. Frontend scripts.
