#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-


include /usr/share/cdbs/1/rules/debhelper.mk
DEB_PYTHON_SYSTEM = pysupport
include /usr/share/cdbs/1/class/python-distutils.mk
##include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_COMPRESS_EXCLUDE := .py

binary-install/igc2kmz-cli::
	mv debian/$(cdbs_curpkg)/usr/bin/igc2kmz.py debian/$(cdbs_curpkg)/usr/bin/igc2kmz-cli
	mv debian/$(cdbs_curpkg)/usr/bin/brand2kml.py debian/$(cdbs_curpkg)/usr/bin/brand2kml
	mv debian/$(cdbs_curpkg)/usr/bin/igc2task.py debian/$(cdbs_curpkg)/usr/bin/igc2task
	mv debian/$(cdbs_curpkg)/usr/bin/leonardo2kmz.py debian/$(cdbs_curpkg)/usr/bin/leonardo2kmz
	mv debian/$(cdbs_curpkg)/usr/bin/olc2gpx.py debian/$(cdbs_curpkg)/usr/bin/olc2gpx

#binary-install/python-igc2kmz::
#	mkdir -p debian/$(cdbs_curpkg)/usr/share/$(cdbs_curpkg)/
#	mv debian/$(cdbs_curpkg)/usr/share/pyshared/igc2kmz/images debian/$(cdbs_curpkg)/usr/share/$(cdbs_curpkg)/

# $(patsubst %,install/%,$(cdbs_python_packages))
# 	mv debian/$(cdbs_curpkg)/usr/lib/python*/site-packages/igc2kmz/images debian/$(cdbs_curpkg)/usr/share/$(cdbs_curpkg)

# $(patsubst %,binary-install/%,$(cdbs_python_packages)) find debian/$(cdbs_curpkg)/usr/share/ -type f -exec chmod -R a-x {} \;

